absl-py==1.4.0
accelerate==0.24.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.1.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.1
Automat==22.10.0
azure-core==1.26.4
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.9
boto3==1.33.6
botocore==1.33.6
BPMN-RPA==7.1.2
bs4==0.0.1
cached-property==1.5.2
cachetools==5.3.0
catalogue==1.0.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chess==1.9.4
click==8.1.3
cloudpathlib==0.16.0
colorama==0.4.6
comm==0.1.4
confection==0.0.4
constantly==15.1.0
construct==2.10.68
contourpy==1.0.7
cryptography==40.0.2
cssselect==1.2.0
cvxopt==1.3.1
cycler==0.11.0
cymem==2.0.7
Cython==3.0.6
datasets==2.14.6
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
distlib==0.3.7
Django==4.2.7
dnspython==2.3.0
email-validator==2.0.0.post2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl#sha256=83872781dc64893d45d9dbe940e05f80df7e7196e169ea29e2e9742fed079549
et-xmlfile==1.1.0
evaluate==0.4.1
exceptiongroup==1.1.1
exchangelib==5.0.3
executing==2.0.0
fastapi==0.103.1
ffmpeg==1.4
filelock==3.12.3
flatbuffers==23.5.9
fonttools==4.39.4
freetype-py==2.3.0
frozenlist==1.3.3
fsspec==2023.9.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
httpcore==0.18.0
httptools==0.6.1
httpx==0.25.0
huggingface-hub==0.16.4
hyperlink==21.0.0
HyperPyYAML==1.2.2
idna==3.4
importlib-metadata==6.8.0
incremental==22.10.0
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.25.2
ipython==8.16.0
isodate==0.6.1
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jax==0.4.10
jedi==0.19.0
Jinja2==3.1.2
jira==3.5.0
jiwer==3.0.3
jmespath==1.0.1
joblib==1.3.2
jsonpickle==3.0.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.2
keras==2.12.0
keyboard==0.13.5
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.3
libclang==16.0.0
librosa==0.10.1
llvmlite==0.41.1
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.1.0
mongopy==0.1
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.20.0
msal-extensions==1.0.0
msgpack==1.0.7
msrest==0.7.1
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.9
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
nose==1.3.7
numba==0.58.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.6
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.9
outcome==1.2.0
packaging==23.1
pandas==2.0.1
parsel==1.8.1
parso==0.8.3
pathy==0.10.1
PDFNetPython3==9.5.0.post1
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.10.24
plac==1.1.3
platformdirs==3.10.0
pluggy==1.3.0
ply==3.11
plyj==0.1
pm4py==2.7.4
pooch==1.8.0
portalocker==2.7.0
preshed==3.0.8
prettytable==3.6.0
prompt-toolkit==3.0.39
Protego==0.3.0
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
py-bpmn==0.4.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycairo==1.23.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.13
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydotplus==2.0.2
pygame==2.1.3
PyGetWindow==0.0.9
Pygments==2.15.1
PyJWT==1.7.1
pykeepass==4.0.4
pymongo==4.5.0
Pympler==1.0.1
PyMsgBox==1.0.9
pyodbc==4.0.39
pyOpenSSL==23.1.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
pyspnego==0.9.0
pytesseract==0.3.10
pytest==7.4.3
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
python-dotenv==1.0.0
python-multipart==0.0.6
pytweening==1.0.7
pytz==2023.3
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
queuelib==1.6.2
rapidfuzz==3.4.0
referencing==0.30.2
regex==2023.8.8
reportlab==4.0.0
requests==2.30.0
requests-file==1.5.1
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
rich==13.6.0
rlPyCairo==0.2.0
rpds-py==0.10.3
rsa==4.9
ruamel.yaml==0.18.2
ruamel.yaml.clib==0.2.8
s3transfer==0.8.2
safetensors==0.3.3
scikit-learn==1.3.2
scipy==1.10.1
Scrapy==2.10.1
selenium==4.9.1
semver==3.0.1
sentencepiece==0.1.99
service-identity==23.1.0
silero @ git+https://github.com/snakers4/silero-models.git@6b0bb8a7637d791fbb7adf22c56af1c89758ff19
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.7
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.4
speechbrain==0.5.15
SpeechRecognition==3.10.0
sqlparse==0.4.4
srsly==1.0.7
stack-data==0.6.3
starlette==0.27.0
streamlit==1.15.1
StringDist==1.0.9
sympy==1.12
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thinc==7.4.6
threadpoolctl==3.2.0
tldextract==3.5.0
tokenizers==0.14.1
toml==0.10.2
toolz==0.12.0
torch==2.1.0
torchaudio==2.1.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.10.1
transformers @ git+https://github.com/huggingface/transformers.git@9e87618f2be1401df55c36ad726629ae201e8e4d
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typer==0.7.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.8.0
urllib3==2.0.2
uvicorn==0.23.2
validators==0.22.0
virtualenv==20.24.6
w3lib==2.1.2
wasabi==0.10.1
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.6
weasel==0.3.4
webdriver-manager==3.8.6
websockets==11.0.3
Werkzeug==2.3.4
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
zope.interface==6.0
